<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>LDTSHandlerSession</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginAuthenticator</display-name>
		<servlet-name>LoginAuthenticator</servlet-name>
		<servlet-class>mipk.LoginAuthenticator</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreacionUsuarios</display-name>
		<servlet-name>CreacionUsuarios</servlet-name>
		<servlet-class>mipk.CreacionUsuarios</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AgregarJuguete</display-name>
		<servlet-name>AgregarJuguete</servlet-name>
		<servlet-class>mipk.AgregarJuguete</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AgregarPuntos</display-name>
		<servlet-name>AgregarPuntos</servlet-name>
		<servlet-class>mipk.AgregarPuntos</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>AgregarTipo</display-name>
		<servlet-name>AgregarTipo</servlet-name>
		<servlet-class>mipk.AgregarTipo</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>HacerIntercambio</display-name>
		<servlet-name>HacerIntercambio</servlet-name>
		<servlet-class>mipk.HacerIntercambio</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>BorrarUsuario</display-name>
		<servlet-name>BorrarUsuario</servlet-name>
		<servlet-class>mipk.BorrarUsuario</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>TerminarIntercambio</display-name>
		<servlet-name>TerminarIntercambio</servlet-name>
		<servlet-class>mipk.TerminarIntercambio</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TerminarIntercambio</servlet-name>
		<url-pattern>/TerminarIntercambio</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>BorrarUsuario</servlet-name>
		<url-pattern>/BorrarUsuario</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HacerIntercambio</servlet-name>
		<url-pattern>/HacerIntercambio</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AgregarTipo</servlet-name>
		<url-pattern>/AgregarTipo</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AgregarPuntos</servlet-name>
		<url-pattern>/AgregarPuntos</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AgregarJuguete</servlet-name>
		<url-pattern>/AgregarJuguete</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CreacionUsuarios</servlet-name>
		<url-pattern>/CreacionUsuarios</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginAuthenticator</servlet-name>
		<url-pattern>/LoginAuthenticator</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
